<div class="teach">
  <div class="content">
    <div id="navs" >
      <div class="btn-group-vertical btn-group-sm">
        <a class="btn btn-secondary " href="/teach#windows">windows</a>
        <a class="btn btn-secondary " href="/teach#mac">mac</a>
        <a class="btn btn-secondary " href="/teach#linux">linux</a>
        <a class="btn btn-secondary " href="/teach#ios">ios</a>
        <a class="btn btn-secondary " href="/teach#android">android</a>
        <a class="btn btn-secondary " href="/teach#route">路由器</a>
        <a class="btn btn-secondary " href="/teach#game">游戏端</a>
      </div>
    </div>
    <div data-spy="scroll" data-target="#navs" data-offset="0">
      <h2 id="windows">windows</h2>
      <div>
        <h3 class="text-danger">1：下载软件</h3>
        <img src="/assets/imgs/teach/c_win_1.jpg" alt="">
        <h3 class="text-danger">2：导入节点（三种方式）</h3>
        <img src="/assets/imgs/teach/c_win_2.jpg" alt="">
        <img src="/assets/imgs/teach/c_win_3.jpg" alt="">
        <img src="/assets/imgs/teach/c_win_4.jpg" alt="">
        <h3 class="text-danger">3：选择一个想用的节点，打开浏览器输入Google.com</h3>
        <img src="/assets/imgs/teach/c_win_5.jpg" alt="">
      </div>
      <h2 id="mac">mac</h2>
      <div>
        <h3 class="text-danger">1：把下载的DMG包放入应用程序列表</h3>
        <img src="/assets/imgs/teach/c_mac_1.png" alt="">
        <h3 class="text-danger">2：打开程式</h3>
        <img src="/assets/imgs/teach/c_mac_2.png" alt="">
        <h3 class="text-danger">3：如提示不安全，请到系统偏好设置打开程式</h3>
        <img src="/assets/imgs/teach/c_mac_3.png" alt="">
        <h3 class="text-danger">4：服务器-编辑订阅</h3>
        <img src="/assets/imgs/teach/c_mac_4.png" alt="">
        <h3 class="text-danger">5：点击+号后填入订阅链接后手动更新订阅</h3>
        <img src="/assets/imgs/teach/c_mac_5.png" alt="">
        <h3 class="text-danger">6：选择一个节点</h3>
        <img src="/assets/imgs/teach/c_mac_6.png" alt="">
        <h3 class="text-danger">7：打开谷歌测试一下吧</h3>
        <img src="/assets/imgs/teach/c_mac_7.png" alt="">
      </div>
      <h2 id="linux">linux</h2>
      <div>
        <h2>Ubuntu使用Shadowsocks-qt5科学上网</h2>
        <p>说明：shadowsocks-qt5是ubuntu上一个可视化的版本</p>
        <div class="dropdown-divider"></div>
        <h3 class="text-danger">安装shadowsocks-qt5</h3>
        <pre >
            <code>
1.$ sudo add-apt-repository ppa:hzwhuang/ss-qt5
2.$ sudo apt-get update
3.$ sudo apt-get install shadowsocks-qt5
            </code>
          </pre>
        <p>如果安装成功之后，按win键搜索应该能够找到软件，如下图所示：</p>
        <img src="/assets/imgs/teach/c_linux_1.png" alt="">
        <h3 class="text-danger">配置shadowsocks-qt5</h3>
        <p>填写对应的服务器IP，端口，密码，加密方式，红色标注地方请与图片一样</p>
        <img src="/assets/imgs/teach/c_linux_4.png" alt="">
        <h3 class="text-danger">配置系统代理模式</h3>
        <img src="/assets/imgs/teach/c_linux_5.png" alt="">
        <h3 class="text-danger">配置浏览器代理模式（本次为Ubuntu自带FireFox浏览器为例）</h3>
        <img src="/assets/imgs/teach/c_linux_6.png" alt="">
        <h3 class="text-danger">连接并开始上网</h3>
        <img src="/assets/imgs/teach/c_linux_7.png" alt="">
      </div>
      <h2 id="ios">ios</h2>
      <div>
        <h3 class="text-danger">1：前往用户中心查看App Store账号，国区App Store已下架)</h3>
        <img src="/assets/imgs/teach/c_ios_1.jpg" alt="">
        <h3 class="text-danger">2：打开App Store 切换账号，并下载App</h3>
        <img src="/assets/imgs/teach/c_ios_2.jpg" alt="">
        <h3 class="text-danger">3：打开Safari，登录到 云图小镇 的用户中心导入节点</h3>
        <img src="/assets/imgs/teach/c_ios_3.jpg" alt="">
        <h3 class="text-danger">附加：iOS快速连接</h3>
        <img src="/assets/imgs/teach/c_ios_4.jpg" alt="">
      </div>
      <h2 id="android">android</h2>
      <div>
        <h3 class="text-danger">1：下载app</h3>
        <img src="/assets/imgs/teach/c_android_1.jpg" alt="">
        <h3 class="text-danger">2：添加订阅并更新</h3>
        <img src="/assets/imgs/teach/c_android_2.jpg" alt="">
        <img src="/assets/imgs/teach/c_android_3.jpg" alt="">
        <img src="/assets/imgs/teach/c_android_4.jpg" alt="">
        <img src="/assets/imgs/teach/c_android_5.jpg" alt="">
        <h3 class="text-danger">3：选择一个节点并设置路由</h3>
        <img src="/assets/imgs/teach/c_android_6.jpg" alt="">
        <img src="/assets/imgs/teach/c_android_7.jpg" alt="">
        <h3 class="text-danger">4：连接</h3>
        <img src="/assets/imgs/teach/c_android_8.jpg" alt="">
      </div>
      <h2 id="route">路由器</h2>
      <div>
        暂不支持，敬请等待...
      </div>
      <h2 id="game">游戏端</h2>
      <div>
        暂不支持，敬请等待...
      </div>
    </div>

  </div>

</div>
