<div>
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <div class="card flex-column" >
        <img class="card-img-top" src="..." alt="套餐图片">
        <div class="card-body">
          <h5 class="card-title">普通冰激凌/季</h5>
          <p class="text-danger">27.00元</p>
          <p class="card-text">添加流量 270 G , 为账号的有效期添加 180 天 , 为账号升级为等级 1 , 有效期 93 天 , 用户端口限速变为30 Mbps , 用户IP限制变为 2 个</p>
          <a href="#" class="btn btn-primary pull-right">购买</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-12">
      <div class="card flex-column" >
        <img class="card-img-top" src="..." alt="套餐图片">
        <div class="card-body">
          <h5 class="card-title">套餐名称</h5>
          <p class="card-text">套餐描述</p>
          <a href="#" class="btn btn-primary  pull-right">购买</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-12">
      <div class="card flex-column" >
        <img class="card-img-top" src="..." alt="套餐图片">
        <div class="card-body">
          <h5 class="card-title">套餐名称</h5>
          <p class="card-text">套餐描述</p>
          <a href="#" class="btn btn-primary pull-right">购买</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-12">
      <div class="card flex-column" >
        <img class="card-img-top" src="..." alt="套餐图片">
        <div class="card-body">
          <h5 class="card-title">套餐名称</h5>
          <p class="card-text">套餐描述</p>
          <a href="#" class="btn btn-primary pull-right">购买</a>
        </div>
      </div>
    </div>
  </div>

</div>
