<div class="home" >

  <div id="bg1" data-0="background-position:0px 0px;top:50px;" data-1="top:0;" data-end="background-position:-500px -10000px;"></div>
  <div id="bg2" data-0="background-position:0px 0px;top:50px;" data-1="top:0;" data-end="background-position:-500px -8000px;"></div>
  <div id="bg3" data-0="background-position:0px 0px;top:50px;" data-1="top:0;" data-end="background-position:-500px -6000px;"></div>

  <div id="progress" data-0="width:0%;background:hsl(200, 100%, 50%);" data-end="width:100%;background:hsl(920, 100%, 50%);"></div>

  <div id="intro" data-0="opacity:0.7;top:10%;transform:rotate(0deg);transform-origin:0 0;" data-500="opacity:0;top:-10%;transform:rotate(-90deg);">
    <h1  ><a >此处放ｌｏｇｏ或其他名称</a></h1>
    <h3>极具性价比的VPN服务器，更安全，更稳定，更快速，让您的互联网之旅畅行无阻！</h3>
    <h3>我们不赚钱，只是交个朋友，将世界分享给您！</h3>
    <h3>最低只要 <span class="text-danger">16元</span></h3>
    <!--<p class="arrows">▼&nbsp;▼&nbsp;▼</p>-->
    <h3><button routerLink="/products" class="btn btn-danger btn-lg">点击购买产品</button></h3>
  </div>

  <div id="transform" data-500="transform:scale(0) rotate(0deg);" data-1000="transform:scale(1) rotate(1440deg);opacity:1;" data-1600="" data-1700="transform:scale(5) rotate(3240deg);opacity:0;">
    <h3>如果您的设备，不能使用Google应用商店</h3>
    <h3>不能上Youtube看视频和电竞直播</h3>
    <h3>不能访问Tumblr、Facebook、Instagram、Google等网站</h3>
    <h3>那跟咸鱼有什么区别！</h3>
    <h3>想要化咸鱼为神器，那就来吧，加入我们！</h3>
  </div>

  <div id="properties" data-1700="top:100%;" data-2200="top:0%;" data-3000="display:block;" data-3700="top:-100%;display:none;">
    <h3>VPN，让世界触手可及</h3>
    <h3>如何使用Google应用商店？</h3>
    <h3>如何上Youtube看视频和电竞直播？</h3>
    <h3>如何访问Tumblr、Facebook、Instagram网站？...</h3>
    <h3>使用我们的VPN服务器一并搞定。我们的服务器具有更稳定的线路。</h3>
  </div>

  <div id="easing_wrapper" data-0="display:none;" data-3900="display:block;" data-4900="background:rgba(0, 0, 0, 0);color[swing]:rgb(0,0,0);" data-5900="background:rgba(82,33,33,1);color:rgb(255,255,255);" data-10000="top:0%;" data-12000="top:-100%;">
    <div id="easing" data-3900="left:100%" data-4600="left:25%;">
      <h3>只能在PC上使用吗？</h3>
      <h3 data-4900="opacity:0"  data-5500="opacity:1;" style="width: 100%;">当然不是！</h3>
      <h3 data-0="display:none;" data-4900="display:block;">
        <h3  data-4900="color[swing]:rgb(0,0,0);" data-6500="color:rgb(255,255,0);">市场上大部分平台</h3>
        <h3 data-6100="" data-4900="color[swing]:rgb(0,0,0);" data-6700="color:rgb(43, 255, 0);">我们都能支持！</h3>
      </h3>
      <h3 data-5900="opacity:0;font-size:100%;" data-6500="opacity:1;font-size:150%;" >让我们看看支持哪些平台吧</h3>
    </div>

    <div class="drop text-primary" data-6500="left:1%;bottom:100%;" data-9500="bottom:0%;">
      windows
      <div class=""><i class="fa fa-windows"></i></div>
    </div>
    <div class="drop" data-6500="left:16%;bottom[quadratic]:100%;" data-9500="bottom:0%;" style="color:#1296db;">
      mac
      <div><img src="/assets/imgs/home/mac.png" alt=""></div>
    </div>
    <div class="drop text-danger" data-6500="left:31%;bottom[cubic]:100%;" data-9500="bottom:0%;">
      linux
      <div class=""><i class="fa fa-linux"></i></div>
    </div>
    <div class="drop text-info" data-6500="left:50%;bottom[swing]:100%;transform:translateX(-50%);" data-9500="bottom:0%;">
      android
      <div class="text-info"><i class="fa fa-android"></i></div>
    </div>
    <div class="drop" data-6500="right:31%;bottom[WTF]:100%;" data-9500="bottom:0%;">
      ios
      <div class=""> <i class="fa fa-apple"></i></div>
    </div>
    <div class="drop" data-6500="right:16%;bottom[inverted]:100%;" data-9500="bottom:0%;" style="color:#d81e06;">
      路由器
      <div><img src="/assets/imgs/home/router.png"  alt=""></div>
    </div>
    <div class="drop text-warning" data-6500="right:1%;bottom[bounce]:100%;" data-9500="bottom:0%;">
      游戏端
      <div class="text-warning"><i class="fa fa-gamepad"></i></div>
    </div>
  </div>

  <div id="download" data-10000="top[cubic]:100%;border-radius[cubic]:0em;background:rgb(0,50,100);border-width:0px;" data-12000="top:10%;border-radius:2em;background:rgb(190,230,255);border-width:10px;" style="text-align:center;">
    <h3>好友邀请</h3>
    <p>您每邀请1位用户注册</p>
    <p>您会获得15 G流量奖励</p>
    <p>对方将获得0元奖励作为初始资金</p>
    <p>对方充值时您还会获得对方充值金额的 15 % 的返利</p>

    <h3>联系我们</h3>
    <p><i class="fa fa-qq"></i> 111111111111 使用交流群</p>
    <p><i class="fa fa-envelope"></i> <a > 11111111@qq.com </a>邮件咨询 </p>
  </div>

  <div id="scrollbar" data-0="top:0%;margin-top:2px;" data-end="top:100%;margin-top:-52px;"></div>


</div>
